// components/molecules/Hero/index.tsx

import React from "react";
import { HeroProps } from "./index.types";

const Hero: React.FC<HeroProps> = () => {
  return (
    <section>
      <div className="container">
        <h1>Benvenuto nel Sito</h1>
        <p>Scopri di più sul nostro fantastico servizio o prodotto.</p>
      </div>
    </section>
  );
};

export default Hero;