import React from 'react';

export default function HomePage() {
  return (
    <>
      <h1>Benvenuti nel template {{kebabCase name}}</h1>
      <p>Questa è la homepage del tuo nuovo template.</p>
    </>
  );
}